@mixin list-reset {
  margin: 0;
  padding: 0;
  list-style-type: none;
}


@mixin menu-text {
  font-family: $base-font;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  letter-spacing: 0.24px;
  text-decoration: none;
  text-transform: uppercase;
  color: $base-text-color;
}
