/* здесь используйте глобальные переменные */
$base-text-color: #333333;
$primary-color: #7859CF;
$bg-base-color: #FFFFFF;
$bg-primary-color: #F3EBE1;

// Экран
$tablet-width: 768px;
$desktop-width: 1440px;

// Шрифт
$base-font: "Montserrat", "Arial", sans-serif;
