/* здесь используйте глобальные переменные */
$base-text-color: #333333;
$primary-color: #7859cf;
$bg-base-color: #ffffff;
$bg-primary-color: #f3ebe1;
$bg-secondary-color: #f0ebff;

// Экран
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1440px;

// Шрифт
$base-font: "Montserrat", "Arial", sans-serif;
